*{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(19, 0, 187);
}

img{
    box-shadow: 10px 2px 20px black;
    width: 20%;
    border-radius: 100%;
}

p{
    font-size: 20px;
    white-space: pre-line;
}